body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    margin: 0px;
}
header {
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
#logo {
    max-height: 50px;
    padding: 10px;
}
.nav_menu {
    text-decoration: underline;
    margin-right: 25px;
    color: seashell;
}
#mission {
    height: 700px;
    padding-top: 69px;
    text-align: center;
    background-image: url("img-mission-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
} 
#statement {
    background-color: black;
    width: 100%;
}
#teas {
    padding-top: 25px;
    max-width: 1000px;
    margin: auto;
}
#ttitle {
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
}
#tflavors {
    text-align: center;
    margin: 10px;
    width: 100%;
}
#top_flavors {
    display: flex;
    justify-content: space-between;
}
#bottom_flavors {
    display: flex;
    justify-content: center;
    margin:
}
.fimage {
    max-width: 300px;
    max-height: 200px;
    margin: 10px;
}
.flavor {
    max-width: 300px;
    max-height: 200px;
}
.teacup {
    max-height: 500px;
    width: 100%;
}
#locations {
    height: 500px;
    max-width: 1200px;
    background-image: url("img-locations-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin: auto;
}
#location_title {
    align-content: center;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
#block_locations {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
#downtown {
    background-color: black;
    width: 300px;
    height: 300px;
    align-items: center;
}
#east {
    background-color: black;
    width: 300px;
    height: 300px;
    align-items: center;
}
#oakdale {
    background-color: black;
    width: 300px;
    height: 300px;
    align-items: center;
}
footer {
    text-align: center;
}
.info {
    
}
footer p {
    text-align: left;
    padding-top: 20px;
}