body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}
header {
    position: fixed;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
#logo {
    max-height: 50px;
}
.nav_menu {
    text-decoration: underline;
    margin-right: 25px;
    color: seashell;
}
#mission {
    height: 700px;
    padding-top: 69px;
    text-align: center;
    background-image: url("img-mission-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
#statement {
    background-color: black;
    z-index: 5;
}
.flavors {
    max-width: 300px;
    max-height: 200px:
}
#teas {
    padding: 10px;
    text-align: center;
}
.teacup {
    max-height: 500px;
    width: 100%;
}
#locations {
    max-height: 500px;
}
.oakdale {
    background-color: black;
}
.downtown {
    background-color: black;
}
.east {
    background-color: black;
}
footer {
    text-align: center;
}
.info {
    
}
footer p {
    text-align: left;
    padding-top: 20px;
}