body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}
header {
    position: fixed;
    max-height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
#logo {
    max-height: 50px;
}
.menu {
    text-decoration: underline;
    margin-right: 25px;
}
#mission {
    height: 700px;
    padding-top: 69px;
    text-align: center;
}   
.statement {
    z-index: 1;
    background-color: black;
}
#locations {
    max-width: 1000px;
}
.flavors {
    max-width: 300px;
    max-height: 200px:
}
#teas {
    padding: 10px;
    text-align: center;
}
#locations {
}
.teacup {
    max-height: 500px;
    width: 100%;
}
.oakdale {
    background-color: black;
}
.downtown {
    background-color: black;
}
.east {
    background-color: black;
}
footer {
    text-align: center;
}
.info {
    
}
footer p {
    text-align: left;
    padding-top: 20px;
}